<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      *Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="model">Model</option>
        <option value="price">Najtańszy</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="cars">
        <li ng-repeat="car in cars | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/cars/{{car.id}}">{{car.model}}</a>
          <p>Cena: {{car.price}} zł.</p>
        </li>
      </ul>

    </div>
    <required2></required2>
  </div>
</div>